* {
    box-sizing: border-box;
}

#logo{
    font-size: 25px;
    text-decoration: none;
    color: white
}

html{
    /*font-size: calc(1em + 1vw);*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;    
} 

#grid-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    grid-template-areas:"header" 
                        "main" 
                        "footer";
}

header {
    /*grid-area: header;*/
    border: solid;
    background-color: #D9D9D9;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    background-size: cover;
    width: 100%;
    text-shadow: 1px 1px black;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

 header nav a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
 }

 

main {
    grid-area: main;
    text-align: center;  
}

main h2 {
    margin-top: 2.5em;
}

main section a {
    text-decoration: none;
    color: black;
}

.gender-btn {
    
    background-color: #3E6FCE;
    color: #fff;
    display: inline-flex;
    padding: 2rem;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 25px;
    margin-top: 1em;
    border-radius: 1rem;
    flex: 1 0 200px;
    max-width: 50%;
    justify-content: space-evenly;
}

.product-card {
    border: solid;
    background-color: #D9D9D9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    display: inline-flex; 
    height: 150px;
    width: 150px;
}

.menupage {
    display: flex;
    background-color: #3E6FCE;
    color:#fff;
    width: 200px;
    height: 200px;
    text-decoration: none;
    font-size: 40px;
    padding-right: 1rem;
}

.menupage header {
    display: flex;
    width: 100%;
    border: 0;
    background-color: #3E6FCE;
    color: #fff;
    margin: 0; 
    padding: 0;
    font-size: 30px;
    text-align: center;
}

.menupage header nav {
    display: flex;
    flex: vertical;
    width: 100%;
    justify-content: center;
    text-align: center;
    
}

.menupage main section li a{
    color: #fff;
    text-decoration: none;
    
}

ul {
    text-decoration: none;
    list-style: none;
}

.menupage section nav {
    text-align: center;
}

/*.fa-sharp .fa-solid .fa-bars{
    justify-content: space-around;
}*/

#menyside.html {
    display: flex;
    padding-left: 5rem;
    font-weight: 900;
}

@media only screen and (min-width: 400px) {
    #grid-container {
        grid-template-areas: "header header header" ". main ." "footer footer footer";
}


}
