* {
    box-sizing: border-box;
}

#logo{
    font-size: 25px;
    text-decoration: none;
    color: white
}

html{
    /*font-size: calc(1em + 1vw);*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;    
} 

#grid-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    grid-template-areas:"header" 
                        "main" 
                        "footer";
}

header {
    /*grid-area: header;*/
    border: solid;
    background-color: #D9D9D9;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    background-size: cover;
    width: 100%;
    text-shadow: 1px 1px black;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

 header nav a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
 }

 div {
  margin: 6px 0;
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px black;
  /*https://www.w3schools.com/howto/howto_css_menu_icon.asp link til hvordan
  lage meny knapp*/
 }

main {
    grid-area: main;
    text-align: center;  
}

main h2 {
    margin-top: 2.5em;
}

main section a {
    text-decoration: none;
    color: black;
}

.gender-btn {
    
    background-color: #3E6FCE;
    color: #fff;
    display: inline-flex;
    padding: 2rem;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 25px;
    margin-top: 1em;
    border-radius: 1rem;
    flex: 1 0 200px;
    max-width: 50%;
    justify-content: space-evenly;
}

.product-card {
    border: solid;
    background-color: #D9D9D9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    display: inline-flex; 
    height: 150px;
    width: 150px;
}

.menupage {
    display: grid;
    text-decoration: none;
    background-color: #3E6FCE;
    color:#fff;
    
    
}

.menupage header {
    display: flex;
    width: 100%;
    border: 0;
    background-color: #3E6FCE;
    color: #fff;
    margin: 0; 
    padding: 0;
}

.menupage header nav {
    display: flex;
    flex: vertical;
    width: 100%;
    justify-content: center;
    
}

.menuheader main {
 color: #fff;
}

.menupage main section a {
    color: #fff;
    text-decoration: none;
    
}


@media only screen and (min-width: 600px) {

}



